.message-app-container {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  background-color: transparent;
}

.all-message-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  overflow-y: auto;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 2px solid #dbc8f7;
  border-radius: 4px;
  width: calc(100% - 20px);
  height: 85%;
}

.message-container {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: flex-start;
  background: #dbc8f7;
  padding: 0.35em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 2px solid #574b7d;
  border-radius: 8px;
  max-width: 75%;
}

.current-user-message-container {
  align-self: flex-end;
  flex-direction: column;
  align-items: flex-end;
  background: #574b7d;
  color: #fcfff9;
  border: 2px solid #dbc8f7;
}

.message-username-datetime-container {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-size: 0.6rem;
  background: #574b7d;
  color: #fcfff9;
  border-radius: 4px;
}

.current-user-message-container .message-username-datetime-container {
  background: #dbc8f7;
  color: #000;
}

.message-input-container {
  height: 50px;
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
}

.message-input {
  width: 100%;
  border: 2px solid #574b7d;
  background: #dbc8f7;
  color: #000;
  border-radius: 4px;
}

.message-send-button {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border: 2px solid #dbc8f7;
  background: #574b7d;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 10px;
}

.message-send-button:hover,
.message-send-button:focus {
  background: #dbc8f7;
  color: #574b7d;
  cursor: pointer;
  border: 2px solid #574b7d;
}
